.course-product{
    margin-top: 30px;
    margin-bottom: 25px;
    border-bottom: 4px double lightgray;
    color: gray;
    
}
.product-image{
    margin-bottom: 25px;
}
.product-detail-first-part{
    margin-left: 40px;
    
}
.product-detail-second-part{
    margin-left: 50px;
}



